.playback-screen-root {
    height: 100vh;
}

.playback-screen-player-div {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.playback-screen-overlay-div {
    background: white;
    position: absolute;
    z-index: 2;
}

.playback-screen-error-overlay-div {
    background: white;
    position: absolute;
    z-index: 3;
    bottom: 5em;
}
